/*
Keep everything that applies to all screens here in style.css
    e.g. font-family, background-color, etc.
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/chat.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
    margin-top: 120px;
    background-color: var(--orsetto_space1);
    font-family: nunito;
    /*
    font-family: "David Libre", Ubuntu, Roboto, serif;
    */
    height: 200vh;
}
.main-screen {
    padding:0px var(--horizontal-space);
}

