:root {
    /* colors */ 
    --orsetto_aqua1: rgb(0, 247, 216);
    --orsetto_aqua2: rgb(0, 209, 183);
    --orsetto_aqua3: rgb(0, 183, 160);
    --orsetto_aqua4: rgb(0, 154, 135);
    --orsetto_aqua5: rgb(0, 114, 100);

    --orsetto_forest0:rgb(230, 230, 230);
    --orsetto_forest1:rgb(204, 210, 215);
    --orsetto_forest2:rgb(109, 179, 191);
    --orsetto_forest3:rgb(32, 87, 111);
    --orsetto_forest4:rgb(24, 54, 66);
    --orsetto_forest5:rgb(218, 120, 119);

    /* margins & paddings */
    --horizontal-space: 25px;
    --border: 1px solid rgba(0,0,0,0.2);
}