:root {
    /* colors */ 
    --orsetto_space0: rgb(133, 241, 254);
    --orsetto_space1: rgb(239, 240, 235);
    --orsetto_space2: rgb(245, 213, 224);
    --orsetto_space3: rgb(200, 116, 178);
    --orsetto_space4: rgb(122, 125, 181);
    --orsetto_space5: rgb(70, 99, 190);
    --orsetto_space6: rgb(33, 174, 228);
    --orsetto_space7: rgb(108, 79, 133);
    --orsetto_space8: rgb(67, 13, 75);
    --orsetto_space9: rgb(22, 67, 114);
    --orsetto_space10: rgb(14, 42, 71);
    --orsetto_space10o: rgba(14, 42, 71, 0.5);
    --orsetto_space11: rgb(1, 13, 29);    

    /* margins & paddings */
    --horizontal-space: 25px;
    --border: 1px solid rgba(0,0,0,0.2);
}