.find-recommended-friends {
    margin-top: 25px;
    padding: 25px 0px;
    border-top: var(--border);
    font-weight: 500;
}
.find-recommended-friends__title {
    color: var(--orsetto_space5);
}
.find-recommended-friends span {
    margin:100px 0;
    display: block;
    text-align: center;
    color: var(--orsetto_space10);
    font-size: 18px;
}

.find-open-chat {
    padding: 25px 0px;
    font-weight: 500;
}
.find-open-chat__header {    
    display: flex;
    justify-content: space-between;
    color: var(--orsetto_space5);
    margin-bottom: 5px;
    border-top: var(--border);
    padding-top: 25px;
}
.find-open-chat__header span {
    color: var(--orsetto_space4);
}
.find-open-chat-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;    
}
.find-open-chat__title {
    font-weight: 500;
    margin-bottom: 7.5px;
}
.find-open-chat__hashtags {
    text-transform: uppercase;
    color: var(--orsetto_space10o);
}
.find-open-chat__members {
    display: flex;
    align-items: center;
    margin-top: 7.5px;
}
.find-open-chat__members img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.find-open-chat__number-of-members {
    font-size: 14px;
    color: var(--orsetto_space4);
}
.find-open-chat__status {
    font-size: 14px;
    color: var(--orsetto_space3);
}
.find-open-chat__members .divider {
    width: 2px;
    height:15px;
    margin: 0 5px;
    background-color: var(--orsetto_space10o);
}
.find-open-chat__profile {
    position: relative;
}
.find-open-chat__profile-picture {
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
.find-open-chat__heart {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 12.5px;
    font-size: 12px;
}
.find-open-chat__heart span {
    margin-left: 5px;
}

@keyframes heartbeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: var(--orsetto_forest5);
        transform: scale(2);
        /* If used without will-change: transform; 
        and if n of scale(n) is too small, (smaller than 4 in my experience), 
        it will shake with the entire div */
    }
    100% {
        color: white;
        transform: none;
    }
}
.find-open-chat__heart:hover i {
    will-change: transform;
    /* This helps the browser accelerate the animation with the graphic card of the computer. */
    animation: heartbeat 0.5s linear infinite;
}